
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id = "Dev" class = "com.mwaisaka.Dev" autowire="byName">
<!--        <property name="computer" ref="desk1" />-->
    </bean>

    <!-- you can't reference computer directly because it's an interface
    using autowire = bytype you can use the primary attribute primary = "true" -->
    <bean id = "computer" class = "com.mwaisaka.Laptop">

    </bean>

    <bean id="desk1" class="com.mwaisaka.Desktop" >

    </bean>
</beans>

<!--Manual configuration -->
